<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog Posts</title>
</head>
<body>
    <h1>Страница с постами</h1>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>{{ post.content }}</p>
                <p><em>Published on {{ post.created_at }}</em></p>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
        <ul>
            {% for i in posts.paginator.page_range %}
                <li>
                    {% if posts.number == i %}
                        <strong>{{ i }}</strong>
                    {% else %}
                        <a href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Next</a>
        {% endif %}
    </div>
</body>
</html>